@import 'vars';
@import 'fonts';
@import 'reset';
@import 'global';

.header {
  background: linear-gradient(90deg, $accent, $lavender);
  padding: 28px;
}

.menu {
  display: flex;
  align-items: center;

  &__box {
    display: flex;
    align-items: center;
    margin-left: auto;
  }

  &__close {
    display: none;
  }

  &__list {
    display: flex;
    margin-right: 60px;
    font-size: 20px;
  }

  &__item {
    margin-left: 24px;
  }

  &__link {
    transition: color 0.3s;
  }

  &__link:hover {
    color: $gold;
  }
}

.user-nav {
  display: flex;

  &__item:not(:last-child) {
    margin-right: 10px;
  }


  &__img {
    width: 40px;
    height: 40px;
    fill: $dark;
  }

  &__btn {
    position: relative;
  }

  &__num {
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: $accent;
    top: 50%;
    right: -10%;
    font-size: 10px;
    color: $white;
    text-align: center;
    line-height: 2;
  }
}

.top {

  &__wrapper {
    display: flex;
    flex-direction: column;
    height: calc(100vh - 120px);
  }

  &__content {
    display: flex;
    justify-content: space-between;
    margin: auto 0;
  }

  &__info {
    max-width: 400px;
    margin-right: 15px;
  }

  &__title {
    font-family: 'corinthia';
    font-weight: 400;
    font-size: 80px;
    line-height: 96px;
    text-align: center;
    color: $black;
  }

  &__box {
    position: relative;

    &::before {
      content: '';
      position: absolute;
      max-width: 670px;
      max-height: 427px;
      width: 100%;
      height: 100%;
      top: 0;
      right: 0;
      background-color: $accent;
      border-radius: 8px;
      transform: rotate(3.85deg);
      z-index: -1;
    }
  }

  &__img {
    border-radius: 8px;
  }

}

.about {
  background: linear-gradient(90deg, $accent, $lavender);
  min-height: 500px;

  &__inner {
    text-align: center;
    max-width: 870px;
    margin: 0 auto;
  }

  &__title {
    font-family: 'corinthia';
    font-weight: 400;
    font-size: 80px;
    line-height: 96px;
    text-align: center;
    color: $black;
  }

  &__text {
    padding-bottom: 18px;
    color: $silver;
    position: relative;

    &::before {
      content: '';
      position: absolute;
      width: 236px;
      height: 2px;
      background-color: $dark;
      bottom: 0;
      left: 0;
      right: 0;
      margin: 0 auto;
    }
  }

  &__logo {
    margin-top: 18px;
    width: 200px;
    margin: 0 auto;
  }
}

.gallery {
  background-color: $lavender;

  &__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-gap: 10px;
  }

  &__item:nth-child(3),
  &__item:nth-child(6) {
    grid-column: span 2;
    grid-row: span 2;
  }

  &__link {
    display: block;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 250px;
    height: 100%;
  }

  &__btn {
    margin-left: auto;
    margin-right: 0;
  }

}

.works {
  background: linear-gradient(90deg, $accent, $lavender);
  min-height: 500px;

  &__top {
    display: flex;
    align-items: start;
    border-bottom: 2px solid $silver;
    padding-bottom: 30px;
  }

  &__bottom {
    display: flex;
    align-items: start;
    margin-top: 30px;
    margin-left: 350px;
  }

  &__item {
    max-width: 250px;
    position: relative;

    &::after {
      content: '';
      position: absolute;
      width: 12px;
      height: 12px;
      border-radius: 50%;
      background-color: $silver;
      left: 0;
    }
  }

  &__item--production,
  &__item--delivery {
    margin-left: 342px;
  }

  &__item--choose::after {
    bottom: -37px;
  }

  &__item--production::after {
    bottom: -81px;
  }

  &__item--application::after {
    top: -37px;
  }

  &__item--delivery::after {
    top: -37px;
  }

  &__title {
    font-size: 18px;
    font-weight: 500;
    line-height: 22px;
    padding-left: 45px;
    position: relative;

    &::after {
      content: '';
      position: absolute;
      width: 36px;
      height: 36px;
      left: 0;
      bottom: 0;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
    }
  }

  &__title--choose::after {
    background-image: url("../images/icons/choose.png");
  }

  &__title--production::after {
    background-image: url("../images/icons/production.png");
  }

  &__title--application::after {
    background-image: url("../images/icons/application.png");
  }

  &__title--delivery::after {
    background-image: url("../images/icons/delivery.png");
  }

  &__text {
    font-size: 18px;
    line-height: 22px;
  }
}

.application {
  background-color: $lavender;

  &__inner {
    background-color: $white;
    border-radius: 8px;
    padding: 56px 25px 90px 25px;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  &__form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  &__input {
    width: 275px;
    height: 64px;
    border-radius: 39px;
    border: 1px solid $dark;
    background-color: $lavender;
    padding: 0 31px;

    &::placeholder {
      color: $dark;
      font-family: 'Montserrat', sans-serif;
      font-weight: 300;
      font-size: 20px;
      line-height: 29px;
    }
  }

  &__input:first-child {
    margin-bottom: 20px;
  }

  &__title {
    max-width: 435px;
    font-size: 64px;
    line-height: 77px;
    font-family: 'corinthia';
    font-weight: 400;
    color: $black;
  }

  &__text {
    max-width: 435px;
    margin-bottom: 48px;
  }
}

.contacts {
  background: linear-gradient(90deg, $accent, $lavender);
  padding-bottom: 100px;

  &__inner {
    margin: 0 15px;
    position: relative;
    z-index: 0;

    &::before {
      content: '';
      position: absolute;
      max-width: 1200px;
      max-height: 550px;
      width: 100%;
      height: 100%;
      top: 0;
      right: 0;
      background-color: $silver;
      border-radius: 8px;
      transform: rotate(3.85deg);
      z-index: -1;
    }
  }

  &__wrapper {
    background-color: $lavender;
    border-radius: 8px;
    padding: 40px;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }


  &__box {
    max-width: 376px;
    max-height: 440px;
  }

  &__text,
  &__link {
    margin-bottom: 30px;
  }
}

.map {
  margin-left: 20px;
}

.footer {
  background-color: $dark;
  font-size: 15px;
  line-height: 18px;

  &__inner {
    display: flex;
    justify-content: space-around;
    color: $silver;
    padding: 10px;
  }

  &__title {
    font-family: 'corinthia';
    font-weight: 400;
    font-size: 48px;
    line-height: 58px;
    text-align: left;
    color: $silver;
    margin-bottom: 18px;
  }

  &__confidentiality {
    display: flex;
    flex-direction: column;
  }

  &__copy {
    margin-bottom: 10px;
  }

  .menu__list {
    display: flex;
    flex-direction: column;
    font-size: 15px;
    line-height: 18px;
  }

  .menu__item {
    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }

  &__contacts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: flex-start;
  }

  &__link {
    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }
}

.description {
  background-color: $lavender;
  height: calc(100vh - 120px);

  &__wrapper {
    display: flex;
    flex-direction: column;
    height: calc(100vh - 120px);
  }

  &__content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: auto 0;
  }

  &__info {
    max-width: 500px;
    text-align: center;
  }

  &__text {
    margin-bottom: 30px;
  }

  &__box {
    position: relative;
    z-index: 0;

    &::before {
      content: '';
      position: absolute;
      max-width: 340px;
      max-height: 413px;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      border: 6px solid $accent;
      border-radius: 13px;
      transform: rotate(5.71deg);
      z-index: -1;
      transition: transform 1s;
    }

    &:hover::before {
      transform: rotate(0deg);
    }
  }

  &__img {
    border-radius: 13px;
  }
}



.cakes {
  background-color: $lavender;

  &__weight,
  &__kind,
  &__filling {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-right: -20px;
  }

  &__box {
    max-width: 331px;
    margin-bottom: 70px;
    margin-right: 20px;
  }

  &__wrapper {
    position: relative;
  }

  &__img {
    border-radius: 8px;
    margin-bottom: 20px;
  }

  &__price {
    position: absolute;
    width: 130px;
    height: 40px;
    background-color: $silver;
    border-radius: 43px;
    right: 15px;
    bottom: 15px;
    font-size: 18px;
    font-weight: 500;
    text-align: center;
    padding: 5px 0;
    color: $accent;
  }


  &__title {
    font-size: 24px;
    line-height: 29px;
    font-weight: 400;
    color: #000;
    margin-bottom: 10px;
  }

  &__text {
    font-size: 18px;
    line-height: 22px;
    color: #000;
  }
}

.order {
  background: linear-gradient(90deg, $accent, $lavender);

  &__text {
    color: $silver;
    text-align: center;
    max-width: 840px;
    margin: 0 auto;
    margin-bottom: 50px;
  }

  &__text p:not(:last-child) {
    margin-bottom: 20px;
  }
}

.contacts {
  &--cakes {
    background: $lavender;
  }
}

.desserts {
  background: linear-gradient(90deg, $accent, $lavender);

  &__list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-right: -30px;
  }

  &__item {
    margin-bottom: 60px;
    margin-right: 30px;
    box-shadow: 5px 5px 5px rgb(0 0 0 / 10%);
    transition: box-shadow 0.3s;

    &:hover {
      box-shadow: 0 3px 15px rgba($white, 0.5);
    }
  }
}

.product-card {
  max-width: 320px;
  min-height: 546px;
  height: 100%;
  background-color: $silver;
  border-radius: 5px;

  &__img {
    border-radius: 5px 5px 0 0;
    background-size: contain;
  }

  &__box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 255px;
    padding: 15px;
  }

  &__name {
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    margin-bottom: 5px;
  }

  &__text {
    font-weight: 300;
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 15px;
  }

  &__price {
    font-size: 20px;
    line-height: 24px;
  }

  &__btn {
    display: block;
    width: 95px;
    height: 40px;
    background-color: $accent;
    border-radius: 20px;
    margin-left: auto;
    position: relative;
    transition: box-shadow 0.3s, background-color 0.3s;

    &:hover {
      box-shadow: 0 0 0 2px rgba($accent, 0.7);
      background-color: $white;
    }

    &::before {
      content: '';
      position: absolute;
      width: 40px;
      height: 22px;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-image: url("../images/sprite.svg#desserts-arrow");
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      transition: left 0.3s;
      filter: invert(100%) sepia(0%) saturate(1%) hue-rotate(241deg) brightness(111%) contrast(101%);
    }

    &:hover::before {
      filter: invert(42%) sepia(8%) saturate(1443%) hue-rotate(201deg) brightness(95%) contrast(86%);
    }

    &:hover::before {
      left: 80%;
    }

    &:active::before {
      left: 50%;
    }
  }
}

.cafe {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  z-index: -1;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba($dark, 0.6);
    z-index: 0;
  }

  &__inner {
    height: calc(100vh - 120px);
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__text,
  &__content {
    position: relative;
    z-index: 1;
  }

  &__text {
    font-weight: 500;
    text-align: center;
    color: $silver;
    max-width: 870px;
    margin: 0 auto;
    margin-bottom: 100px;
  }

  &__content {
    display: flex;
    justify-content: center;
  }

  &__box {
    &:not(:last-child) {
      margin-right: 118px;
    }
  }

  &__box span {
    display: block;
    text-align: center;
    font-weight: 500;
    color: $silver;
  }

  &__img {
    border-radius: 50%;
    margin: 0 auto;
  }
}

@media (max-width: 1150px) {
  .wrapper__fixed {
    position: fixed;
    left: 0;
    right: 0;
  }

  .header {
    .menu {
      &__box {
        position: absolute;
        background-color: $lavender;
        top: 0;
        width: 300px;
        height: 100%;
        right: 0;
        flex-direction: column;
        align-items: flex-start;
        z-index: 5;
        transform: translateX(200%);
        padding-left: 50px;
        padding-top: 30px;
        box-shadow: -29px 0 28px 3px rgba(0, 0, 0, 0.25);
        transition: transform 0.3s;

        &.menu__box--active {
          transform: translateX(0%);
        }
      }

      &__close {
        display: block;
        position: absolute;
        right: 30px;
      }

      &__img {
        width: 25px;
        height: 25px;
        fill: $dark;
      }

      &__list {
        flex-direction: column;
        margin-top: 55px;
        margin-right: 0;
      }

      &__item {
        margin-left: 0;
        margin-bottom: 25px;
      }

      &__open {
        width: 35px;
        height: 23px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: auto;
        z-index: 5;
        position: relative;

        span {
          width: 100%;
          height: 3px;
          background-color: $dark;
        }

        &::after,
        &::before {
          content: '';
          position: absolute;
          width: 100%;
          height: 3px;
          background-color: $dark;
        }

        &::before {
          top: 0;
        }

        &::after {
          bottom: 0;
        }
      }
    }
  }

  .works {

    &__item--production,
    &__bottom {
      margin-left: 215px;
    }
  }
}


@media (max-width: 992px) {
  .top {
    &__title {
      font-size: 65px;
    }
  }

  .about {
    &__title {
      font-size: 65px;
    }
  }

  .gallery {

    &__item:nth-child(3),
    &__item:nth-child(6) {
      grid-column: auto;
      grid-row: auto;
    }

    &__list {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  .works {
    &__inner {
      border-left: 2px solid #F9F9F4;
      width: 280px;
      margin: 0 auto;
    }

    &__top {
      border-bottom: none;
      flex-direction: column;
      margin-left: 18px;
      padding-bottom: 0;
    }

    &__bottom {
      flex-direction: column;
      margin-left: 18px;
      margin-top: 0;
    }

    &__item {
      margin-bottom: 20px;
    }

    &__item--production,
    &__item--delivery {
      margin-left: 0;
    }

    &__item--choose::after {
      top: -1px;
      left: -25px;
    }

    &__item--production::after {
      bottom: 48px;
      left: -25px;
    }

    &__item--application::after {
      top: 2px;
      left: -25px;
    }

    &__item--delivery::after {
      top: 2px;
      left: -25px;
    }
  }

  .application {
    &__title {
      font-size: 48px;
    }

    &__text {
      font-size: 16px;
    }
  }

  .contacts {
    &__inner {
      &::before {
        max-height: 873px;
      }
    }

    &__wrapper {
      flex-direction: column;
    }

    &__box {
      margin-bottom: 25px;
    }

  }

  .footer__title {
    line-height: 45px;
  }

  .description {
    height: 100%;

    &__wrapper {
      height: 100%;
    }

    &__content {
      flex-direction: column;
    }

    &__info {
      margin-bottom: 40px;
    }

    &__title {
      margin-bottom: 25px;
    }
  }
}

@media (max-width: 768px) {
  .header {
    padding: 10px;

    .logo__img {
      width: 165px;
    }
  }

  .top {
    background-image: url("../images/header-img--adaptive.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    &__wrapper {
      height: calc(100vh - 75px);
    }

    &__img {
      display: none;
    }

    &__info {
      display: flex;
      flex-direction: column;
      margin: 0 auto;
    }

    &__description {
      text-align: center;
    }
  }

  .application {
    &__inner {
      flex-direction: column;
    }

    &__box {
      text-align: center;
      margin-bottom: 50px;
    }
  }

  .map {
    margin-left: 0;

    &__frame {
      width: 300px;
    }
  }

  .footer {
    &__inner {
      flex-direction: column;
    }

    &__confidentiality {
      order: 3;
      align-items: center;
      margin-bottom: 40px;
      text-align: center;
    }

    &__navigation {
      align-self: center;
      order: 1;
      text-align: center;
      margin-bottom: 40px;
    }

    .menu {
      &__list {
        margin-right: 0;
        margin-left: 0;
      }

      &__item {
        margin-left: 0;
      }
    }


    &__contacts {
      align-self: center;
      align-items: center;
      order: 2;
      margin-bottom: 40px;
    }
  }

  .cafe {
    &__inner {
      height: calc(100vh - 90px);
    }
  }

}

@media (max-width: 576px) {
  .application {
    &__inner {
      padding-bottom: 50px;
    }

    &__title {
      font-size: 50px;
      line-height: 40px;
    }

    &__input {
      width: 240px;
      height: 50px;
    }

    &__input::placeholder {
      font-size: 16px;
    }

    &__img {
      display: none;
    }
  }

  .cakes {
    &__box {
      max-width: 250px;
      margin-bottom: 30px;
    }

    &__title {
      font-size: 20px;
      margin-bottom: 5px;
    }

    &__text {
      font-size: 16px;
    }

    &__img {
      width: 250px;
      height: 250px;
      margin-bottom: 10px;
    }
  }

  .cafe {
    &__box:not(:last-child) {
      margin-right: 50px;
    }
    &__text {
      margin-bottom: 50px;
    }
  }

}

@media (max-width: 480px) {
  .top {
    &__title {
      font-size: 55px;
    }
  }

  .about {
    &__title {
      font-size: 55px;
    }

    &__text {
      &::before {
        width: 170px;
      }
    }

    &__logo {
      width: 170px;
    }
  }

  .gallery {
    &__list {
      grid-template-columns: repeat(1, 1fr);
    }

    &__btn {
      margin-right: auto;
    }
  }

  .map {
    display: none;
  }

  .description {
    &__box {
      width: 80%;
    }
  }
  .cafe {
    &__inner {
      height: 100%;
    }
  }
}