<section class="constructor page-section">
    <div class="container">
        <h2 class="title">Конструктор тортов</h2>
        <div class="constructor__inner">
            <form class="constructor__form" action="#" id="designer">
                <ul class="constructor__grid">
                    
                    <li class="select">
                        <h3 class="constructor__title">Форма торта</h3>
                        <label class="select__text">
                            <input class="select__input" type="radio" name="shape">
                            <span class="select__style"></span>
                            Круг
                        </label>
                        <label class="select__text">
                            <input class="select__input" type="radio" name="shape">
                            <span class="select__style"></span>
                            Квадрат
                        </label>
                        <label class="select__text">
                            <input class="select__input" type="radio" name="shape" checked>
                            <span class="select__style"></span>
                            Прямоугольник
                        </label>
                    </li>

                    <li class="select">
                        <h3 class="constructor__title">Основа для торта</h3>
                        <label class="select__text">
                            <input class="select__input" type="radio" name="base" value="vanilla" checked>
                            <span class="select__style"></span>
                            Ванильный бисквит
                        </label>
                        <label class="select__text">
                            <input class="select__input" type="radio" name="base" value="chocolate">
                            <span class="select__style"></span>
                            Шоколадный бисквит
                        </label>
                        <label class="select__text">
                            <input class="select__input" type="radio" name="base" value="honey">
                            <span class="select__style"></span>
                            Медовое печенье
                        </label>
                    </li>

                    <li class="select">
                        <h3 class="constructor__title">Крем для начинки</h3>
                        <label class="select__text">
                            <input class="select__input" type="radio" name="filling" value="white" checked>
                            <span class="select__style"></span>
                            Белый крем
                        </label>
                        <label class="select__text">
                            <input class="select__input" type="radio" name="filling" value="chocolate">
                            <span class="select__style"></span>
                            Шоколадный крем
                        </label>
                        <label class="select__text">
                            <input class="select__input" type="radio" name="filling" value="white">
                            <span class="select__style"></span>
                            Крем чиз
                        </label>
                    </li>


                    <li class="select">
                        <h3 class="constructor__title">Крем для покрытия</h3>
                        <label class="select__text">
                            <input class="select__input" type="radio" name="coating" value="0" checked>
                            <span class="select__style"></span>
                            Без покрытия
                        </label>
                        <label class="select__text">
                            <input class="select__input" type="radio" name="coating" value="white">
                            <span class="select__style"></span>
                            Белый крем
                        </label>
                        <label class="select__text">
                            <input class="select__input" type="radio" name="coating" value="chocolate">
                            <span class="select__style"></span>
                            Шоколадный крем
                        </label>
                        <label class="select__text">
                            <input class="select__input" type="radio" name="coating" value="white">
                            <span class="select__style"></span>
                            Крем чиз
                        </label>
                    </li>


                    <li class="select">
                        <h3 class="constructor__title">Топпинг</h3>
                        <label class="select__text">
                            <input class="select__input" type="radio" name="topping" value="0" checked>
                            <span class="select__style"></span>
                            Без топпинга
                        </label>
                        <label class="select__text">
                            <input class="select__input" type="radio" name="topping" value="white">
                            <span class="select__style"></span>
                            Белый соус
                        </label>
                        <label class="select__text">
                            <input class="select__input" type="radio" name="topping" value="caramel">
                            <span class="select__style"></span>
                            Карамельный сироп
                        </label>
                        <label class="select__text">
                            <input class="select__input" type="radio" name="topping" value="maple">
                            <span class="select__style"></span>
                            Кленовый сироп
                        </label>
                        <label class="select__text">
                            <input class="select__input" type="radio" name="topping" value="milky">
                            <span class="select__style"></span>
                            Молочный шоколад
                        </label>
                    </li>


                    <li class="select checkbox">
                        <h3 class="constructor__title">Декор</h3>
                        <label class="select__text checkbox__text">
                            <input class="select__input checkbox__input" type="checkbox" name="decor[]" value="meringue">
                            <span class="select__style checkbox__style"></span>
                            Безе
                        </label>
                        <label class="select__text checkbox__text">
                            <input class="select__input checkbox__input" type="checkbox" name="decor[]" value="marshmallow">
                            <span class="select__style checkbox__style"></span>
                            Маршмелоу
                        </label>
                        <label class="select__text checkbox__text">
                            <input class="select__input checkbox__input" type="checkbox" name="decor[]" value="chocolate">
                            <span class="select__style checkbox__style"></span>
                            Шоколадная стружка
                        </label>
                        <label class="select__text checkbox__text">
                            <input class="select__input checkbox__input" type="checkbox" name="decor[]" value="cookies">
                            <span class="select__style checkbox__style"></span>
                            Фигурное печенье
                        </label>
                        <label class="select__text checkbox__text">
                            <input class="select__input checkbox__input" type="checkbox" name="decor[]" value="pecan">
                            <span class="select__style checkbox__style"></span>
                            Пекан
                        </label>
                        <label class="select__text checkbox__text">
                            <input class="select__input checkbox__input" type="checkbox" name="decor[]" value="pistachio">
                            <span class="select__style checkbox__style"></span>
                            Фисташки
                        </label>
                        <label class="select__text checkbox__text">
                            <input class="select__input checkbox__input" type="checkbox" name="decor[]" value="hazel">
                            <span class="select__style checkbox__style"></span>
                            Фундук
                        </label>
                    </li>
                </ul>



                <div class="constructor__wrapper">
                    <div class="constructor__additionally">
                        <div class="constructor__box">
                            <h3 class="constructor__title">Надпись</h3>
                            <div class="constructor__text">
                                <p>
                                    Мы можем разместить на торте любую надпись, например: «С Днем рождения!»
                                </p>
                            </div>
                            <input class="constructor__field" type="text">
                        </div>
                        <div class="constructor__box">
                            <h3 class="constructor__title">Примечания</h3>
                            <div class="constructor__text">
                                <p>
                                    Дополнительные пожелания по украшению, начинке, декору и пр.
                                </p>
                            </div>
                            <textarea class="constructor__field constructor__area"></textarea>
                        </div>
                    </div>

                    <div class="cake constructor__box">
                        <h3 class="constructor__title cake__title">Ваш торт будет выглядеть так</h3>
                        <ul class="cake__inner" id="cake">
                            <li class="cake__base">
                                <div class="cake__item cake__base--vanilla"></div>
                                <div class="cake__item cake__base--chocolate"></div>
                                <div class="cake__item cake__base--honey"></div>
                            </li>
                            <li class="cake__filling">
                                <div class="cake__item cake__filling--white"></div>
                                <div class="cake__item cake__filling--chocolate"></div>
                                <div class="cake__item cake__filling--white"></div>
                            </li>
                            <li class="cake__coating">
                                <div class="cake__item cake__coating--white"></div>
                                <div class="cake__item cake__coating--chocolate"></div>
                                <div class="cake__item cake__coating--white"></div>
                            </li>
                            <li class="cake__topping">
                                <div class="cake__item cake__topping--white"></div>
                                <div class="cake__item cake__topping--caramel"></div>
                                <div class="cake__item cake__topping--maple"></div>
                                <div class="cake__item cake__topping--milky"></div>
                            </li>
                            <li class="cake__decor">
                                <div class="cake__item cake__decor--meringue"></div>
                                <div class="cake__item cake__decor--marshmallow"></div>
                                <div class="cake__item cake__decor--chocolate"></div>
                                <div class="cake__item cake__decor--cookies"></div>
                                <div class="cake__item cake__decor--pecan"></div>
                                <div class="cake__item cake__decor--pistachio"></div>
                                <div class="cake__item cake__decor--hazel"></div>
                            </li>
                        </ul>
                        <div class="cake__plate"></div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>