.constructor {
    background: linear-gradient(90deg, $accent, $lavender);

    &__inner {
        font-size: 18px;
        background-color: $white;
        border-radius: 8px;
        padding: 30px 30px 60px 30px;
    }

    &__wrapper {
        display: flex;
        justify-content: space-between;
    }

    &__title {
        font-size: 25px;
        font-weight: 500;
        margin-bottom: 5px;
    }

    .select {

        &__body {
            max-width: 320px;
            width: 100%;
            margin-bottom: 30px;
        }

        &__text {
            display: block;
            position: relative;
            padding-left: 25px;
            cursor: pointer;
        }

        &__input {
            position: absolute;
            width: 1px;
            height: 1px;
            overflow: hidden;
            clip: rect(0 0 0 0);
        }

        &__style {
            position: absolute;
            width: 16px;
            height: 16px;
            background-color: $lavender;
            border-radius: 50%;
            margin-left: -25px;
            top: 50%;
            transform: translateY(-50%);
            cursor: pointer;
        }

    }

    .select__input:checked+.select__style::before {
        content: '';
        position: absolute;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background-color: $accent;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .checkbox {

        &__style {
            border-radius: 0;
        }

    }

    .checkbox__input:checked+.checkbox__style::before {
        border-radius: 0;
    }

    &__box {
        max-width: 460px;
        width: 100%;

        &:first-child {
            margin-bottom: 20px;
        }

    }

    &__field {
        width: 100%;
        height: 40px;
        border-radius: 39px;
        border: 1px solid #292626;
        background-color: #a9a9c4;
        padding: 0 15px
    }

    &__area {
        height: 140px;
        border-radius: 10px;
    }

    .cake {
        position: relative;
        height: 100%;

        &::before {
            content: '';
            position: absolute;
            width: 100%;
            height: 37px;
            bottom: 0;
            background-color: $accent;
            border-radius: 20px;
        }

        &__base--vanilla,
        &__filling--chocolate {
            height: 100%;
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
        }

        &__base--vanilla {
            background-image: url("../images/constructor/base/base--vanilla.png");
        }

        &__filling--chocolate {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            background-image: url("../images/constructor/filling/filling--chocolate.png");
        }

        &__item {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
            display: none;
        }

        .active {
            display: block;
        }

        &__decor {

            &--meringue {
                background-image: url("../images/constructor/decor/decor--meringue.png");
            }

            &--marshmallow {
                background-image: url("../images/constructor/decor/decor--marshmallow.png");
            }

            &--chocolate {
                background-image: url("../images/constructor/decor/decor--chocolate.png");
            }

            &--cookies {
                background-image: url("../images/constructor/decor/decor--cookie.png");
            }

            &--pecan {
                background-image: url("../images/constructor/decor/decor--pecan.png");
            }

            &--pistachio {
                background-image: url("../images/constructor/decor/decor--pistachio.png");
            }

            &--hazel {
                background-image: url("../images/constructor/decor/decor--hazel.png");
            }

        }

    }

}