.footer {
    background-color: $dark;
    font-size: 15px;
    line-height: 1.4;
    color: $silver;
    padding: 20px;

    &__inner {
        display: flex;
        justify-content: space-around;
    }

    &__confidentiality,
    &__navigation {
        margin-right: 40px;
    }

    &__title {
        display: block;
        font-family: "Corinthia", cursive;
        font-weight: 400;
        font-size: 48px;
        line-height: 1.2;
        margin-bottom: 18px;
    }

    &__copy {
        display: block;
        margin-bottom: 10px;
    }

    &__copy,
    &__link {
        transition: color 0.3s;

        &:hover {
            color: $gold;
        }

    }

    .menu {

        &__list {
            flex-direction: column;
        }

        &__item {

            &:not(:last-child) {
                margin-bottom: 10px;
            }

        }

        &__link {
            transition: color 0.3s;

            &:hover {
                color: $gold;
            }

        }

    }

    &__link {
        display: block;

        &:not(:last-child) {
            margin-bottom: 10px;
        }

    }

}


@media (max-width: 768px) {

    .footer {

        &__inner {
            flex-direction: column;
            align-items: center;
        }

        &__confidentiality,
        &__navigation,
        &__contacts {
            margin-bottom: 40px;
            margin-right: 0;
            text-align: center;
        }

        &__confidentiality {
            order: 3;
        }

        &__navigation {
            order: 1;
        }

        &__contacts {
            order: 2;
        }

    }

}