<footer class="footer">
    <div class="container">
        <div class="footer__inner">

            <div class="footer__confidentiality">
                <span class="footer__title">Чародейки</span>
                <a class="footer__copy" href="#">Политика конфиденциальности</a>
                <span>© 2018-2023 фабрика десертов Чародейки</span>
            </div>

            <div class="footer__navigation">
                <h3 class="footer__title">Навигация</h3>
                <nav class="menu">
                    <ul class="menu__list">
                        <li class="menu__item">
                            <a class="menu__link" href="#">Торты</a>
                        </li>
                        <li class="menu__item">
                            <a class="menu__link" href="#">Десерты</a>
                        </li>
                        <li class="menu__item">
                            <a class="menu__link" href="#">Кафе</a>
                        </li>
                        <li class="menu__item">
                            <a class="menu__link" href="#">Заказ и доставка</a>
                        </li>
                        <li class="menu__item">
                            <a class="menu__link" href="#">Контакты</a>
                        </li>
                    </ul>
                </nav>
            </div>

            <div class="footer__contacts">
                <h3 class="footer__title">Связаться с нами</h3>
                <a class="footer__link" href="#" target="_blank">Инстаграм</a>
                <a class="footer__link" href="tel:+7(927)-374-86-86">+7(927)-374-86-86</a>
            </div>

        </div>
    </div>
</footer>