<section class="application page-section">
    <div class="container">

        <h2 class="title">Оставить заявку</h2>

        <div class="application__inner">
            <div class="application__box">
                <h3 class="application__title">Хотите заказать торт?</h3>
                <div class="application__text">
                    <p>Оставьте заявку и наш менеджер свяжется с вами в течении 15-ти минут.</p>
                </div>
                <form class="application__form" action="#">
                    <input class="application__input" placeholder="Имя" type="text" required>
                    <input class="application__input" placeholder="Телефон" type="tel" required>
                    <button class="btn" type="submit">Отправить</button>
                </form>
            </div>
            <img class="application__img" src="images/application.jpg" width="453" height="453" alt="клубничный торт">
        </div>

    </div>
</section>