.application {
    background: $lavender;

    &__inner {
        background-color: $white;
        border-radius: 8px;
        padding: 56px 25px;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    &__box {
        max-width: 435px;
    }

    &__title {
        font-family: "Corinthia", cursive;
        font-weight: 400;
        font-size: 64px;
        line-height: 1;
    }

    &__text {
        margin-bottom: 48px;
    }

    &__form {
        text-align: center;
    }

    &__input {
        width: 290px;
        height: 64px;
        border-radius: 39px;
        border: 1px solid $dark;
        background-color: $lavender;
        padding: 0 20px;

        &::placeholder {
            color: $dark;
            font-weight: 300;
            font-size: 20px;
        }

    }

    &__input:first-child {
        margin-bottom: 20px;
    }

}


@media (max-width: 992px) {

    .application {

        &__title {
            font-size: 48px;
        }

        &__text {
            font-size: 16px;
        }

        &__img {
            width: 350px;
        }

    }

}

@media (max-width: 768px) {

    .application {

        &__inner {
            flex-direction: column;
        }

        &__box {
            text-align: center;
            margin-bottom: 50px;
        }

    }

}

@media (max-width: 576px) {

    .application {

        &__box {
            margin-bottom: 0;
        }

        &__input {
            width: 250px;
            height: 50px;
        }

        &__input::placeholder {
            font-size: 16px;
        }

        &__img {
            display: none;
        }

    }

}