.header {
    background: linear-gradient(90deg, $accent, $lavender);
    padding: 28px;
    position: fixed;
    left: 0;
    right: 0;
    z-index: 999;

    .menu {
        display: flex;
        align-items: center;

        &__box {
            display: flex;
            align-items: center;
            margin-left: auto;
        }

        &__close {
            display: none;
        }

        &__list {
            display: flex;
            margin-right: 30px;
            font-size: 20px;
        }

        &__item {

            &:not(:last-child) {
                margin-right: 24px;
            }

        }

        &__link {
            transition: color 0.3s;

            &:hover {
                color: $gold;
            }

        }

    }

    .user-nav {
        display: flex;

        &__item {

            &:not(:last-child) {
                margin-right: 10px;
            }

        }

        &__img {
            width: 40px;
            height: 40px;
            fill: $dark;
        }

        &__btn {
            position: relative;
        }

        &__num {
            position: absolute;
            width: 20px;
            height: 20px;
            border-radius: 50%;
            background-color: $accent;
            top: 50%;
            right: -10%;
            font-size: 10px;
            color: $white;
            line-height: 2;
        }

    }

}


@media (max-width: 992px) {

    .header {
        padding: 10px;

        .menu {

            .logo__img {
                width: 165px;
            }

            &__box {
                position: absolute;
                background-color: $lavender;
                overflow-y: scroll;
                top: 0;
                right: 0;
                width: 300px;
                height: 100vh;
                flex-direction: column;
                align-items: flex-start;
                transform: translateX(200%);
                padding: 30px;
                box-shadow: -29px 0 28px 3px rgba(0, 0, 0, 0.25);
                transition: transform 0.3s;

                &.menu__box--active {
                    transition: transform 0.3s;
                    transform: translateX(0%);
                }

            }

            &__close {
                display: block;
                position: absolute;
                right: 30px;
            }

            &__img {
                width: 25px;
                height: 25px;
                fill: $dark;
            }

            &__list {
                flex-direction: column;
                margin-top: 55px;
                margin-right: 0;
            }

            &__item {
                margin-right: 0;
                margin-bottom: 25px;
            }

            &__open {
                width: 35px;
                height: 25px;
                margin-left: auto;
                position: relative;

                span {
                    display: block;
                    width: 100%;
                    height: 3px;
                    background-color: $dark;
                }

                &::after,
                &::before {
                    content: '';
                    position: absolute;
                    width: 100%;
                    height: 3px;
                    left: 0;
                    background-color: $dark;
                }

                &::before {
                    top: 0;
                }

                &::after {
                    bottom: 0;
                }

            }

        }

    }

}