<header class="header">
    <div class="container">

        <nav class="menu">

            <a class="logo" href="#" id="home">
                <img class="logo__img" src="images/icons/logo.svg" width="196" height="65" alt="логотип">
            </a>

            <button class="menu__open" type="button">
                <span></span>
                <span class="sr-only">открыть меню</span>
            </button>

            <div class="menu__box">

                <button class="menu__close" type="button">
                    <svg class="menu__img">
                        <use xlink:href="images/sprite.svg#close"></use>
                    </svg>
                    <span class="sr-only">закрыть меню</span>
                </button>

                <ul class="menu__list">
                    <li class="menu__item">
                        <a class="menu__link" href="#" id="cakes">Торты</a>
                    </li>
                    <li class="menu__item">
                        <a class="menu__link" href="#" id="desserts">Десерты</a>
                    </li>
                    <li class="menu__item">
                        <a class="menu__link" href="#">Кафе</a>
                    </li>
                    <li class="menu__item">
                        <a class="menu__link" href="#">Доставка</a>
                    </li>
                    <li class="menu__item">
                        <a class="menu__link" href="#">Контакты</a>
                    </li>
                </ul>

                <ul class="user-nav">
                    <li class="user-nav__item">
                        <a class="user-nav__link" href="#" target="_blank">
                            <svg class="user-nav__img">
                                <use xlink:href="images/sprite.svg#instagram"></use>
                            </svg>
                            <span class="sr-only">инстаграм</span>
                        </a>
                    </li>
                    <li class="user-nav__item">
                        <a class="user-nav__link" href="tel:89061564997">
                            <svg class="user-nav__img">
                                <use xlink:href="images/sprite.svg#phone"></use>
                            </svg>
                            <span class="sr-only">телефон</span>
                        </a>
                    </li>
                    <li class="user-nav__item">
                        <button class="user-nav__btn" type="button">
                            <svg class="user-nav__img">
                                <use xlink:href="images/sprite.svg#cart"></use>
                            </svg>
                            <span class="sr-only">корзина</span>
                            <span class="user-nav__num">3</span>
                        </button>
                    </li>
                </ul>

            </div>

        </nav>

    </div>

</header>