<section class="works page-section" id="works">
    <div class="container">
        <h2 class="title">Как мы работаем?</h2>

        <ul class="works__inner">

            <li class="works__top">
                <div class="works__item works__item--choose">
                    <h3 class="works__title works__title--choose">Выберите вид, начинку и вес торта.</h3>
                    <div class="works__text">
                        <p>Все это вы можете сделать прямо на этом сайте в разделе “Торты”.</p>
                    </div>
                </div>
                <div class="works__item works__item--production">
                    <h3 class="works__title works__title--production">Изготовление торта.</h3>
                    <div class="works__text">
                        <p>В течении 2-3х дней мы изготовим ваш торт.</p>
                    </div>
                </div>
            </li>

            <li class="works__bottom">
                <div class="works__item works__item--application">
                    <h3 class="works__title works__title--application">Оставьте заявку.</h3>
                    <div class="works__text">
                        <p>
                            Наш менеджер свяжется с вами в течении 15-ти минут, после вы составляете заказ и мы
                            рассчитываем стоимоть торта.
                        </p>
                    </div>
                </div>
                <div class="works__item works__item--delivery">
                    <h3 class="works__title works__title--delivery">Доставка и оплата.</h3>
                    <div class="works__text">
                        <p>
                            Курьер доставляет вам торт или вы забираете его сами. После происходит
                            оплата. Если
                            заказ не доставляется вовремя - доставка бесплатно.
                        </p>
                    </div>
                </div>
            </li>

        </ul>

    </div>
</section>