<section class="description">
    <div class="container">
        <div class="description__wrapper">
            <div class="description__content">
                <div class="description__info">
                    <h2 class="description__title title">Десерты</h2>
                    <div class="description__text">
                        <p>
                            Мы делаем много разных вкусностей, список постоянно дополняется. Здесь представлены наши самые
                            популярные десерты. Вы
                            можете сделать заказ на сайте и угощения доставят прямо к вашему порогу.
                        </p>
                    </div>
                    <a class="btn btn--desserts" href="#">Заказать десерт</a>
                </div>
                <div class="description__box">
                    <img class="description__img" src="images/description-desserts.jpg" width="341" height="413" alt="сэндвич-десерт">
                </div>
            </div>
        </div>
    </div>
</section>