<section class="description">
    <div class="container">
        <div class="description__wrapper">
            <div class="description__content">
                <div class="description__info">
                    <h2 class="description__title title">Торты</h2>
                    <div class="description__text">
                        <p>
                            Рецепты наших тортов детально проработаны и выверены, чтобы получился самый лучший и нежный вкус.
                            Для своего торта вы можете
                            использовать любые начинки и формы, они не зависят от оформления.
                        </p>
                    </div>
                    <a class="btn" href="#">Заказать торт</a>
                </div>
                <div class="description__box">
                    <img class="description__img" src="images/description-cakes.jpg" width="341" height="413" alt="торты">
                </div>
            </div>
        </div>
    </div>
</section>