<section class="top" style="background-image: url(images/header-img.jpg);">
    <div class="container">
        <div class="top__wrapper">

            <div class="top__content">
                <h1 class="sr-only">Кондитерская Чародейки</h1>
                <h2 class="top__title">Торты на заказ</h2>
                <span class="top__description">
                    Свадебный торт. Торт на день рождения. Торт просто так!
                </span>
                <a class="btn" href="#">Заказать торт</a>
            </div>

        </div>
    </div>
</section>