.top {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    &__wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100vh;
    }

    &__content {
        max-width: 550px;
        margin: 0 auto;
        text-align: center;
        padding-top: 100px;
    }

    &__info {
        max-width: 400px;
        margin-right: 15px;
    }

    &__title {
        font-family: 'corinthia';
        font-weight: 400;
        font-size: 80px;
        line-height: 96px;
        text-align: center;
    }

}


@media (max-width: 992px) {

    .top {

        &__title {
            font-size: 65px;
            line-height: 60px;
        }

        &__description {
            text-align: center;
            display: block;
        }

    }


}

@media (max-width: 768px) {

    .top {

        &__img {
            display: none;
        }

        &__info {
            margin: 0 auto;
        }

    }


}

@media (max-width: 480px) {

    .top {

        &__title {
            font-size: 55px;
        }

    }

}