.top {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    &__wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100vh;
    }

    &__content {
        max-width: 550px;
        margin: 0 auto;
        text-align: center;
        padding-top: 100px;
    }

    &__title {
        font-family: "Corinthia", cursive;
        font-weight: 400;
        font-size: 80px;
        line-height: 1;
    }

}


@media (max-width: 992px) {

    .top {

        &__title {
            font-size: 65px;
        }

    }


}


@media (max-width: 480px) {

    .top {

        &__title {
            font-size: 54px;
        }

    }

}