<section class="cafe page-section" style="background-image: url(images/cafe-bg.jpg);">
  <div class="container">
    <h2 class="sr-only">Кафе</h2>
    <div class="cafe__inner">
      <div class="cafe__text">
        <p>
          Чародейки — уютное кафе в нежно-розовых оттенках.
          В меню — разнообразие авторской кухни, неповторимые десерты и фирменный кофе.
          Наша цель — создать непередаваемые ощущения и самые теплые воспоминания. Поэтому мы уделили внимание
          каждой детали: от
          подачи блюд, до мелочей в интерьере.

          А ещё, любой уголок кафе — идеальная фотозона. Именно здесь ты создашь самые красивые и оригинальные
          фотокарточки,
          которые будут навеивать волшебные чувства даже спустя долгий срок.
        </p>
      </div>
      <div class="cafe__content">
        <a class="cafe__box" href="#">
          <img class="cafe__img" src="images/cafe-menu.jpg" alt="">
          <span>Меню</span>
        </a>
        <a class="cafe__box" href="#">
          <img class="cafe__img" src="images/cafe-gallery.jpg" alt="">
          <span>Фотогалерея</span>
        </a>
      </div>
    </div>
  </div>
</section>