<header class="header">
  <div class="container">

    <nav class="menu">
      <a class="logo" href="#">
        <img class="logo__img" src="images/icons/logo.svg" alt="логотип">
      </a>
      <button class="menu__open" type="button">
        <span></span>
      </button>
      <div class="menu__box">
        <button class="menu__close" type="button">
          <svg class="menu__img">
            <use xlink:href="images/sprite.svg#close"></use>
          </svg>
        </button>
        <ul class="menu__list">
          <li class="menu__item">
            <a class="menu__link" href="#">Торты</a>
          </li>
          <li class="menu__item">
            <a class="menu__link" href="#">Десерты</a>
          </li>
          <li class="menu__item">
            <a class="menu__link" href="#">Кафе</a>
          </li>
          <li class="menu__item">
            <a class="menu__link" href="#">Заказ и доставка</a>
          </li>
          <li class="menu__item">
            <a class="menu__link" href="#">Контакты</a>
          </li>
        </ul>
        <ul class="user-nav">
          <li class="user-nav__item">
            <a class="user-nav__link" href="#" target="_blank">
              <svg class="user-nav__img">
                <use xlink:href="images/sprite.svg#instagram"></use>
              </svg>
            </a>
          </li>
          <li class="user-nav__item">
            <a class="user-nav__link" href="#" target="_blank">
              <svg class="user-nav__img">
                <use xlink:href="images/sprite.svg#phone"></use>
              </svg>
            </a>
          </li>
          <li class="user-nav__item">
            <button class="user-nav__btn" type="button">
              <svg class="user-nav__img">
                <use xlink:href="images/sprite.svg#cart"></use>
              </svg>
              <span class="user-nav__num">3</span>
            </button>
          </li>
        </ul>
      </div>
    </nav>

  </div>

</header>