<section class="order page-section">
  <div class="container">
    <h2 class="title">Давайте закажем торт!</h2>
    <div class="order__text">
      <p>
        Это форма для предварительного заказа торта.
        Выберите вес, вид, начинку и дизайн торта, заполните поля и нажмите "отправить".
        Мы внимательно обработаем всю информацию и свяжемся с вами в ближайшее время для уточнения деталей.
      </p>
      <p>
        PS: При выборе веса торта мы рекомендуем отталкиваться от порции 150-250 грамм на человека.
      </p>
    </div>
    <a class="btn" href="#">Заказать торт</a>
  </div>
</section>