.gallery {

    &__list {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 10px;
    }

    &__item:nth-child(3),
    &__item:nth-child(6) {
        grid-column: span 2;
        grid-row: span 2;
    }

    &__link {
        display: block;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        min-height: 250px;
        height: 100%;
    }

    &__btn {
        margin-right: 0;
    }

}


@media (max-width: 992px) {

    .gallery {

        &__item:nth-child(3),
        &__item:nth-child(6) {
            grid-column: auto;
            grid-row: auto;
        }

        &__list {
            grid-template-columns: repeat(2, 1fr);
        }

        &__btn {
            margin-right: auto;
        }

    }

}


@media (max-width: 480px) {

    .gallery {

        &__list {
            grid-template-columns: repeat(1, 1fr);
        }

    }

}